<div class="span4 box {{content.color}}">
    <section class="article-box large-image">
        <div class="copy">
            <p>{{content.copy}}</p>
        </div>
        <img class="responsive" src="{{content.image}}" alt="{{content.title}}"/>
    </section>
</div>