<div class="span4 box {{content.color}}">
    <section class="article-box medium">
        <div class="copy">
            <h2>{{content.title}}</h2>
            <p>{{content.copy}}</p>
        </div>
    </section>
</div>